.dashboard{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFDEE9;
    background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% );
    
}
.dashboard .addExpensesMainDiv{
    width: 60%;
    height: 90vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
   

}
@media screen and (max-width: 790px) {
    .dashboard .addExpensesMainDiv{
      width: 90%;
    }
  }
@media screen and (max-width: 466px) {
    .dashboard .addExpensesMainDiv {
        width: 100% !important;
        align-self: self-start;
    }
  }
  .main_usernav{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
  }
  .main_usernav h1{
    font-size: 1.4rem;
  }