@import url('https://fonts.googleapis.com/css2?family=Anta&family=Lilita+One&family=Montserrat:wght@500&display=swap');
.home{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    gap: 2rem;
}
.loging-button-home{
    max-height: 4rem;
    width: 85%;
    display: flex;
   justify-content: flex-end;
}
.landingpage {
    font-family: "Lilita One", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.landingpage h1 {
    text-align: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}