@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  /* background-color: #FFDEE9;
  background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% );
   */
}
*,
*::after,
*::before {
  -ms-overflow-style: auto;  /* IE and Edge */
  scrollbar-width: auto;  /* Firefox */
  transition: all .3s ease-in-out;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.active li {
  color: rgb(0, 0, 0) !important;
  border-bottom:2px solid rgb(255, 255, 255) !important;
  border-radius: 0rem !important;
}
body{
  min-height: 100vh;
  overflow: visible !important;
  font-family: 'Montserrat', sans-serif !important;
  background-color: aliceblue !important;
  margin: 0;
  padding: 0;
}